<div class="container">
  <!-- Landing pages -->
  <div class="row text-center blocktop">
    <div class="col-md-4 col-sm-12 card mainLp">
      <div class="overlay">
        <h1>landing général</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 card mangaLp">
      <h1>landing manga</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>      
    </div>

    <div class="col-md-4 col-sm-12 card bdxLp">
      <h1>landing Bordeaux</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
  </div>

  <!-- growth tools -->
  <div class="row text-center blockbottom">
    <div class="col-md-6 col-sm-12 card insta">
      <h1>Instagram</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <button class="btn btn-primary" type="submit">Lancer le script</button>
    </div>
    <div class="col-md-6 col-sm-12 card twitter">
      <h1>Twitter</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <button class="btn btn-primary" type="submit">Lancer le script</button>
    </div>
  </div>

</div>
