<div class="container">
  <!-- Landing pages -->
  <div class="row text-center blocktop">
    <div class="col-md-4 col-sm-12 card mainLp box">
      <h1>Landing général</h1>
      <p>Découvrez le code avec THP</p>
      <button class="btn btn-primary" type="submit">
        <a href="http://classy-kettle.surge.sh">Visiter le site</a>
      </button>
    </div>

    <div class="col-md-4 col-sm-12 card mangaLp box">
      <h1>Landing manga</h1>
      <p>Fan de manga, Découvrez le code avec THP</p>
      <button class="btn btn-primary" type="submit">
        <a href="http://yummy-scene.surge.sh/">Visiter le site</a>
      </button>
    </div>

    <div class="col-md-4 col-sm-12 card bdxLp box">
      <h1>Landing Bordeaux</h1>
      <p>Découvrez le code avec THP à Bordeaux</p>
      <button class="btn btn-primary" type="submit">
        <a href="http://aware-hearing.surge.sh">Visiter le site</a>
      </button>
    </div>
  </div>

  <!-- growth tools -->
  <div class="row text-center blockbottom">
    <div class="col-md-6 col-sm-12 card insta box">
      <h1>Instagram</h1>
      <p>Devenir célébre sur Instagram</p>
      <button class="btn btn-primary" type="submit">Lancer le script</button>
    </div>
    <div class="col-md-6 col-sm-12 card twitter box">
      <h1>Twitter</h1>
      <p>Devenir célébre sur Twitter</p>
      <button class="btn btn-primary" type="submit">Lancer le script</button>
    </div>
  </div>

</div>
