<div class="container">
  <!-- Landing pages -->
  <div class="row text-center">
    <div class="col-md-4">
      toto
    </div>
    <div class="col-md-4">
      toto
    </div>
    <div class="col-md-4">
      toto
    </div>
  </div>

  <!-- growth tools -->
  <div class="row text-center">
    <div class="col-md-6">
      toto
    </div>
    <div class="col-md-6">
      toto
    </div>    
  </div>

</div>
