<header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Welcome Moussaillons</h1>
          <h2 class="masthead-subheading mb-0">Pour lancer du traffic sur vos landing page veuillez vous inscrire</h2>

          <div class="btn btn--stripe">
            <%= link_to('Inscription', new_model_registration_path) %>
          </div>

        </div>
      </div>
    </header>
