.blocktop {
  margin-bottom: 70px;
}

.box {
  padding: 40px 25px;
  background-color: wheat;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  color: white;
  border: solid 3px #343a40;
}
